<template>
    <div>        
        <h1>Campeonato de Filmes</h1>
        <h3>FASE DE SELEÇÃO</h3>
        <h4>Selecione os 8 filmes que você deseja que participem da competição e depois pressione o botão "<em>Gerar meu Campeonato</em>".</h4>
        <!--<p>Bora consumir a API de filmes e montar o nosso frontend?<br><strong>Passos:</strong></p>        
        <ul>
            <li>Você precisa chamar a API pelo frontend com o axios <i class="el-icon-check"></i></li>
            <li>Renderizar os filmes na UI bonitinho <i class="el-icon-check"></i></li>
            <li>Mandar os 8 filmes selecionados em um array usando POST <i class="el-icon-loading"></i></li>
            <li>Lá no backend asp net core receber o POST "converter" em objetos.. sei lá e realizar o campeonato</li>
        </ul> -->  
    </div>
</template>