<template>
    <div>
        <h1>HELLO WORLD =)</h1>
        <p>Bora consumir a API de filmes e montar o nosso frontend?<br><strong>Passos:</strong></p>        
        <ul>
            <li>Você precisa chamar a API pelo frontend com o axios</a></li>
            <li>Renderizar os filmes na UI bonitinho</li>
            <li>Mandar os 8 filmes selecionados em um array usando POST</li>
            <li>Lá no backend asp net core receber o POST "converter" em objetos.. sei lá e realizar o campeonato</li>
        </ul>   
    </div>
</template>