<template>
    <div v-if="winners.length">
        <el-row :gutter="24">
            <el-col :span="24">
                <el-card shadow="hover">                    
                    <el-tag type="warning">1°</el-tag> Vingadores: A guerra infinita                                         
                </el-card>
            </el-col>                    
        </el-row>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-card shadow="hover">                    
                    <el-tag type="success">2°</el-tag> Os Incríveis 2                                    
                </el-card>
            </el-col>                    
        </el-row>
    </div>
</template>
<script src="./winners.ts"></script>