@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
}
