<template>
    <div>
        <div>  
            <el-row :gutter="12">
                <el-col :span="24">
                    <el-card shadow="never">
                        <h1>Campeonato de Filmes</h1>
                            <div v-if="forecasts.length">
                                <h3>FASE DE SELEÇÃO</h3>
                                <h4>Selecione os 8 filmes que você deseja que participem da competição e depois pressione o botão "<em>Gerar meu Campeonato</em>".</h4>
                            </div>
                            <div v-else-if="winners.length">
                                <h3>RESULTADO FINAL</h3>                                    
                                <h3>Veja o resultado final do Campeonato de filmes de forma simples e rápida</h3>
                            </div>                                    
                    </el-card>
                </el-col>      
            </el-row><br> 
        </div>    
        <el-button v-if="forecasts.length" round style="float: right" type="primary" plain @click="sendFilmes">Gerar meu Campeonato <i class="el-icon-refresh"></i></el-button>
        <el-button v-else="winners.length" round style="float: right" type="primary" disabled>Gerar meu Campeonato <i class="el-icon-refresh"></i></el-button>
        <br><br>
        <span v-if="forecasts.length">Selecionados: {{ filmes.length }} de 8</span>   
        <br><br>     
        <el-row :gutter="12">
            <el-col v-if="forecasts.length" v-for="(item, index) in forecasts" :key="index" :value="item.titulo" :xs="24" :span="6" >
                <el-card shadow="hover">
                    <el-checkbox v-model="filmes" :label="item.id + ' - ' + item.titulo + ' - ' + item.ano + ' - ' + item.nota" :value="item.id">{{ item.titulo }}</el-checkbox><br>
                    <el-tag>{{ item.ano }}</el-tag>                                         
                </el-card>
            </el-col>                    
        </el-row>
        <div v-if="winners.length">
            <el-row v-for="(winner, index) in winners" :key="index" :value="winner.titulo" :gutter="24">
                <el-col :span="24">
                    <el-card shadow="hover">                    
                        <el-tag type="warning">{{ index+1 }}°  </el-tag>  {{ winner.titulo }}                                     
                    </el-card>
                </el-col>                    
            </el-row>            
        </div>             
    </div>    
</template>
<script src="./filmeslist.ts"></script>