<template>
    <div>
        <el-button>Button</el-button>
        <h2>Filmes List</h2>
        <table v-if="forecasts.length" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Titulo</th>
                        <th>Ano</th>
                        <!--<th>Nota</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in forecasts">
                        <td><input type="checkbox"></td>
                        <td>{{ item.titulo }}</td>
                        <td>{{ item.ano }}</td>
                        <!--<td>{{ item.nota }}</td>-->
                    </tr>
                </tbody>
            </table>
    
            <p v-else><em>Loading...</em></p>
    </div>
    
</template>
<script src="./filmeslist.ts"></script>