<template>
    <div>        
        <el-button round style="float: right" type="primary" plain @click="sendFilmes">Gerar meu Campeonato <i class="el-icon-refresh"></i></el-button>
        <br><br><br>
        <span>Selecionados: {{ filmes.length }} de 8</span> 
        <el-row :gutter="12">
            <el-col v-for="(item, index) in forecasts" :key="index" :value="item.titulo" :span="6">
                <el-card shadow="hover">
                    <el-checkbox v-model="filmes" :label="item.id + ' - ' + item.titulo + ' - ' + item.ano + ' - ' + item.nota" :value="item.id">{{ item.titulo }}</el-checkbox><br>
                    {{ item.ano }}                                          
                </el-card>
            </el-col>                    
        </el-row>  
       
        <!--<el-button>Button</el-button>
        <h2>Filmes List</h2>
        <table v-if="forecasts.length" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Titulo</th>
                        <th>Ano</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in forecasts">
                        <td><input type="checkbox"></td>
                        <td>{{ item.titulo }}</td>
                        <td>{{ item.ano }}</td>
                        <td>{{ item.nota }}</td>
                    </tr>
                </tbody>
            </table>
    
            <p v-else><em>Loading...</em></p>-->
    </div>
    
</template>
<script src="./filmeslist.ts"></script>